include README.md LICENSE \
        queryparser.pxd psqlparse.pyx

include queryparser/build.sh \
        queryparser/LICENSE \
        queryparser/queryparser.c \
        queryparser/queryparser.h \
        queryparser/README.md